
<ul id="tree_<%= dom_id %>"
	style="list-style-type: none; margin-left: 0; padding-left: 1.5em; text-indent: -1.5em; display:<%= display %>">
<% for feature in features %>
	<% feature_review = feature.feature_reviews.first %>
	<li>
		<!-- attribute editor -->
		 
		<%= render(:partial => "/reviews/feature_rating", :locals => {:feature_review => feature_review}) %>
												
		<%= link_to_function("compare", "document.getElementById('compare_feature_review_#{feature_review.id}').toggle();") %>
		
		<%= feature_review.feature.label %>
		<%= link_to_function(image_tag("icons/drill_down.gif", :border => 0),
		 "document.getElementById('tree_#{feature_review.id}').toggle();") if feature.node_children.size > 0 %>
		<%= feature_review.get_feature_value.value_as_string %>

		
		<!-- display sub attributes -->
		<% if feature.node_children.size > 0 %>
			<%= render(:partial => "/reviews/feature_edit", 
						:locals => {:features => feature.node_children, :display => 'none', :dom_id => feature_review.id }) %>
		<% end %>
		
		<%= render(:partial => "/reviews/feature_compare_edit", :locals => {:display => "none", :feature_review => feature_review})%>
	</li>
<% end %>
</ul>